<head>
	<!-- Styl Leaflet -->
	<link
	rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
	<!-- Skrypt Leaflet -->
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<div id="map" style="height: 500px;"></div>
<div id="result" style="height: 500px;"></div>

<script>
	const lat = {{ lat|json_encode|raw }};
const lon = {{ lon|json_encode|raw }};
const wizytowka = {{ wizytowka|map(w => w.toArray())|json_encode()|raw }};

console.log(wizytowka);

var map = L.map('map').setView([
lat, lon
], 12);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

wizytowka.forEach(element => {
let iconUrl = element.image ? '/upload/' + element.image : '/upload/default/marker.png';

let myIcon = L.icon({
iconUrl: iconUrl,
iconSize: [40, 40]
});

L.marker([
element.lat, element.lon
], {icon: myIcon}).addTo(map).bindPopup(`<strong>${
element.name
}</strong><br>${
element.desc
}<br><img src='/upload/${
element.image || 'default/marker.png'
}' alt='${
element.name
}' width="100" />`);
});
</script>
