<h2>Wybierz Miasto</h2>

<form action="/dev/map" id="carform" method="post">
	<input type="submit">
</form>
<br>

<label for="cars">Wybierz miasto</label>
<select id="cars" name="dataCity" form="carform">
        {% for opt in option %}
            {% set infoArray = [] %}  {# Tworzymy pustą tablicę dla info #}
            {% for point in opt.boundingbox %}
                {% set infoArray = infoArray | merge([point]) %} {# Łączymy nowe punkty #}
            {% endfor %}
            
            {% set data = {
                "name": opt.name,
                "city_id": opt.place_id,
				"lat": opt.lat,
				"lon": opt.lon,
                "info": infoArray
            } %}
            
            <option value='{{ data | json_encode }}'>		
                {{ opt.display_name }}
            </option>
        {% endfor %}
    </select>
<script>
function updateHiddenFields() {
    var selectField = document.getElementById("mySelectField");
    var selectedValue = JSON.parse(selectField.value);
    
    // Ustaw ukryte pola
    document.getElementById("city_name").value = selectedValue.name;
    document.getElementById("city_id").value = selectedValue.city_id;
}
</script>
{# 
<script>

	const wayId = '418411251';
// Zastąp odpowiednim ID


// URL do Overpass API
const overpassUrl = 'https://overpass-api.de/api/interpreter';
const query = `
        [out:json];
        way(${wayId});
        out body;
        `;

fetch(overpassUrl, {
method: 'POST',
body: `data=${
encodeURIComponent(query)
}`,
headers: {
'Content-Type': 'application/x-www-form-urlencoded'
}
}).then(response => {
if (!response.ok) {
throw new Error(`Błąd HTTP! status: ${
response.status
}`);
}
return response.json();
}).then(data => {
const way = data.elements[0];
if (way) {
console.log('Dane o way:', way);
const streetName = way.tags ?. name || way.tags ?. addr_street || 'Nie znaleziono nazwy ulicy';
console.log('Nazwa ulicy:', streetName);
}
}).catch(error => {
console.error('Błąd podczas zapytania o way:', error);
});
</script> #}
